#header
  top: 0
  position: relative
  margin-top: -22px
  background: #111
  min-height: 200px
  margin-bottom: 50px
  &.play
    .background-wrapper
      opacity: 0
  .background-wrapper,
  .background-video
    max-height: 90vh
    position: relative
    overflow: hidden
    +respond-max-width(xs)
      height: 90vh
      .screen
        display: none
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
      height: 70vh
  .container
    position: absolute
    left: 0
    right: 0
    top: 60%
    @media screen and (min-device-width: 1600px)
      top: 50%
    transform: translateY(-50%)
    z-index: 2
    h1
      text-transform: uppercase
      font-size: 3em
      opacity: 0
      +respond-max-width(sm)
        font-size: 1.5em
      +respond-max-width(xs)
        margin-top: 0
        font-size: 1.5em
      @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
        font-size: 2.5em
      line-height: 1.5em
      font-family: $font
      font-weight: 700
    *
      color: #fff
      text-align: center
  .play-video-wrapper
    i
      font-size: 5em
      color: $play-button-color
      margin: 40px 0
      display: block
      cursor: pointer
      opacity: 0
      @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
        margin: 20px auto
      +respond-max-width(sm)
        font-size: 3em
      +respond-max-width(xs)
        margin: 10px auto
        font-size: 3em
.dark
  #header
    .background-type
      +respond-min-width(md)
        &:after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          height: 350px
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(20,21,25,1) 100%)
          z-index: 0
      @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
        &:after
          display: none
    .background-wrapper
      opacity: .4

.close-btn
  position: absolute
  top: 0
  right: -54px
  +respond-max-width(xs)
    right: 0
    top: -54px
  border-radius: 0
  cursor: pointer
  z-index: 1
  background: $cta-color
  padding: 13px
  i
    font-size: 2em

.video-container
  opacity: 0
  visibility: hidden
  pointer-events: none
  transition: all .6s ease
  &.play
    opacity: 1
    visibility: visible
    pointer-events: all

.logo
  width: 100%
  height: 240px
  text-align: center
  background: none
  opacity: 0
  a
    display: block
    width: 100%
    height: 100%
  img
    height: 85%
    display: block
    margin: 0 auto
    padding-top: 30px
  +respond-max-width(md)
    width: 150px
    height: 175px
    margin: 0 auto 0
    img
      padding-top: 10px!important

body.isPlaying
  .background-video,
  .enterprise-intro-header-text
    opacity: 0.2

body.projects
  #header
    margin-bottom: 0
  #header .background-wrapper,
  #header .background-video
    max-height: 65vh!important
  #header .container h1
    font-size: 2em
    opacity: 1!important
    +respond-max-width(sm)
      font-size: 1em
  #header .logo
    opacity: 1!important
    +respond-max-width(md)
      width: 125px
      height: 150px
      margin: 0 auto 0