$methodSize: 250px
$mobileMethodSize: 120px
$imageScrollHeight: 1000px
$mobileTextOffset: 150px

#method
  position: relative
  overflow: hidden
  width: 100%
  padding-top: 100px
  min-height: 90vh
  background: url(../../images/tile-bg.jpg) no-repeat
  background-size: cover
  padding-bottom: 50px
  .method-desc-wrapper
    +respond-min-width(lg)
      width: 250px
      height: 250px
      position: absolute
      top: 320px
      left: 50%
      margin-left: -125px
      text-align: center
      .method-desc
        position: absolute
        bottom: 0
        text-align: center
        width: 250px
        left: 50%
        margin-left: -125px
        opacity: 0
        h3
          width: 100%
          text-align: center
        &.active
          opacity: 1
    +respond-max-width(md)
      width: 60%
      position: absolute
      right: 10px
      top: 40px
      .method-desc
        margin-bottom: 30px
  #diagram
    +respond-max-width(md)
      height: $mobileMethodSize * 8
      margin-top: 50px
      position: relative
      &:before
        content: ''
        width: 1px
        background-color: #ccc
        height: 100%
        position: absolute
        top: 0
        left: $mobileMethodSize / 2
        z-index: 0
    +respond-min-width(lg)
      height: 1000px
      width: 1000px
      background: url(../../images/diagram/diagram.png) no-repeat
      background-size: cover
      margin: 0 auto
      position: relative
      &.intro
        background-image: url(../../images/diagram/diagram-1.png)
      &.design
        background-image: url(../../images/diagram/diagram-2.png)
      &.tuning
        background-image: url(../../images/diagram/diagram-3.png)
      &.construction
        background-image: url(../../images/diagram/diagram-4.png)
      &.eval
        background-image: url(../../images/diagram/diagram-5.png)
      .diagram-logo
        background: url(../../images/loading-logo.png) no-repeat
        background-size: contain
        width: 250px
        height: 250px
        position: absolute
        top: 350px
        left: 390px
    .method-item-wrapper
      position: absolute
      height: $methodSize
      width: $methodSize
      +respond-max-width(md)
        height: $mobileMethodSize
      &:nth-child(1)
        top: 0
        left: 50%
        margin-left: -$methodSize / 2
        +respond-max-width(md)
          top: 0
          left: 0
          margin-left: 0
      &:nth-child(2)
        top: $methodSize
        right: 50px
        +respond-max-width(md)
          top: $mobileMethodSize + 40px
          left: 0
      &:nth-child(3)
        top: 620px
        right: 150px
        +respond-max-width(md)
          top: $mobileMethodSize * 2 + 80px
          left: 0
      &:nth-child(4)
        top: 620px
        left: 25%
        margin-left: -$methodSize / 3
        +respond-max-width(md)
          top: $mobileMethodSize * 3 + 120px
          left: 0
          margin-left: 0
      &:nth-child(5)
        top: $methodSize
        left: 40px
        +respond-max-width(md)
          top: $mobileMethodSize * 4 + 160px
          left: 0
    .method-item
      height: $methodSize
      width: $methodSize
      border: 0
      color: $method-text-color
      font-size: .875em
      text-transform: uppercase
      font-weight: 600
      position: absolute
      text-align: center
      padding:  $methodSize / 3
      opacity: 1
      top: 0
      left: 0
      transition: all .3s ease
      cursor: pointer
      pointer-events: all
      +respond-max-width(md)
        border-radius: 9999px
        font-size: .75em
        height: $mobileMethodSize
        width: $mobileMethodSize
        padding: $mobileMethodSize / 2.5 $mobileMethodSize / 5 0
        background: $method-bubble-color
        transition: all ease .5s
        box-shadow: -2px 11px 17px 0px rgba(0,0,0,.1)
        opacity: 1
      .step-content
        > span.count
          text-align:  center
          width: 100%
          color: $method-text-color
          font-size: 2em
          +respond-max-width(md)
            display: none
        span, i
          display: block
          color: $method-text-color
        > span
          display: inline-block
          margin-top: 10px
        i
          font-size: 2em
          color: $method-text-color
          +respond-max-width(xs)
            font-size: 1.5em
      &.intro
        +respond-max-width(md)
          background: rgba(61,190,232,1)
      &.design
        +respond-max-width(md)
          background: rgba(54,68,173,1)
      &.tuning
        +respond-max-width(md)
          background: rgba(141,199,1,1)
      &.construction
        +respond-max-width(md)
          padding: 24px 19px 0
      &.construction,
      &.eval
        +respond-max-width(md)
          background: $method-highlight-bubble-color
          color: $method-highlight-bubble-text
          z-index: 6
          border: 1px solid #ccc
          .step-content
            .count, i, span
              color: $method-highlight-bubble-text

