$methodSize: 250px
$mobileMethodSize: 120px
$imageScrollHeight: 1000px
$mobileTextOffset: 150px

#method
  position: relative
  overflow: hidden
  width: 100%
  padding-top: 100px
  +respond-max-width(md)
    padding-top: 40px
  min-height: 90vh
  background: url(../../images/tile-bg.jpg) no-repeat
  background-size: cover
  padding-bottom: 50px
  .method-desc-wrapper
    +respond-min-width(md)
      width: 250px
      height: 350px
      position: absolute
      top: 25%
      left: 50%
      margin-left: -125px
      text-align: center
      .method-desc
        position: absolute
        top: 50%
        transform: translateY(-50%)
        text-align: center
        vertical-align: middle
        width: 250px
        left: 50%
        margin-left: -125px
        opacity: 0
        h3
          width: 100%
          text-align: center
        &.active
          opacity: 1
    +respond-max-width(sm)
      width: 100%
      position: relative
      overflow: hidden 
      right: auto
      top: 40px
      .method-desc
        margin: 0 auto 50px
        position: relative
        clear: both
        left: auto 
        width: 300px
        transform: none
        background: rgba(204,204,204,0.5)
        padding: 20px
        i 
          display: block
          margin: 5px auto 0
          text-align: center
          font-size: 2em 
        
        p 
          text-align: center
        h3 
          text-align: center
          line-height: 1.5em
        &:after
          content: ''
          width: 0; 
          height: 0; 
          border-left: 150px solid transparent
          border-right: 150px solid transparent
          border-top: 30px solid rgba(204,204,204,0.5)
          position: absolute
          bottom: -30px
          left: 50%
          transform: translateX(-50%)
          right: auto
          margin: 0 auto
          z-index: 0
        &.eval
          &:after
            display: none
  #diagram
    +respond-max-width(sm)
      display: none
    +respond-min-width(md)
      height: 790px
      width: 790px
      background: url(../../images/diagram/diagram.png) no-repeat
      background-size: cover
      margin: 0 auto
      position: relative
      transition: all .5s ease
      -webkit-backface-visibility: hidden
      transform: translate3d(0,0,0)
      &.intro
        background-image: url(../../images/diagram/diagram-1.png)
        transition: all .5s ease
      &.design
        background-image: url(../../images/diagram/diagram-2.png)
        transition: all .5s ease
      &.tuning
        background-image: url(../../images/diagram/diagram-3.png)
        transition: all .5s ease
      &.construction
        background-image: url(../../images/diagram/diagram-4.png)
        transition: all .5s ease
      &.eval
        background-image: url(../../images/diagram/diagram-5.png)
        transition: all .5s ease
      .diagram-logo
        background: url(../../images/loading-logo.png) no-repeat
        background-size: contain
        width: 180px
        height: 180px
        position: absolute
        top: 300px
        left: 315px
    .method-item-wrapper
      position: absolute
      height: $methodSize
      width: $methodSize
      +respond-max-width(sm)
        display: none
      &:nth-child(1)
        +respond-min-width(md)
          top: -20px
          left: 50%
          margin-left: -$methodSize / 2
      &:nth-child(2)
        +respond-min-width(md)
          top: $methodSize - 80px
          right: 0
      &:nth-child(3)
        +respond-min-width(md)
          top: 470px
          right: 120px
      &:nth-child(4)
        +respond-min-width(md)
          top: 470px
          left: 25%
          margin-left: -$methodSize / 3
      &:nth-child(5)
        +respond-min-width(md)
          top: $methodSize - 80px
          left: 0
    .method-item
      height: $methodSize
      width: $methodSize
      border: 0
      color: $method-text-color
      font-size: .875em
      text-transform: uppercase
      font-weight: 600
      position: absolute
      text-align: center
      padding:  $methodSize / 3
      opacity: 1
      top: 0
      left: 0
      transition: all .3s ease
      cursor: pointer
      pointer-events: all
      &.construction
        +respond-min-width(md)
          width: $methodSize + 15px
      .step-content
        +respond-max-width(sm)
          display: none
        > span.count
          text-align:  center
          width: 100%
          color: $method-text-color
          font-size: 2em
        span, i
          display: block
          color: $method-text-color
        > span
          display: inline-block
          margin-top: 10px
        i
          font-size: 2em
          color: $method-text-color
