.review
  padding: 0 75px
  +respond-max-width(xs)
    padding: 0 25px
  .review-author,
  .review-date,
  .review-stars
    width: 100%
    text-align: center

  .review-stars
    i
      color: #eb6e00

