@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?m8qy9g");
  src: url("../fonts/icomoon.eot?m8qy9g#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?m8qy9g") format("truetype"), url("../fonts/icomoon.woff?m8qy9g") format("woff"), url("../fonts/icomoon.svg?m8qy9g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-design:before {
  content: "\e900"; }

.icon-chevron:before {
  content: "\e901"; }

.icon-tune:before {
  content: "\e902"; }

.icon-intro:before {
  content: "\e903"; }

.icon-close:before {
  content: "\e904"; }

.icon-arrow-left:before {
  content: "\e905"; }

.icon-arrow-right:before {
  content: "\e906"; }

.icon-construction:before {
  content: "\e907"; }

.icon-play:before {
  content: "\e908"; }

.icon-eval:before {
  content: "\e909"; }

.icon-design-v2:before {
  content: "\e90a"; }

.icon-design-v3:before {
  content: "\e90c"; }

.icon-intro-v2:before {
  content: "\e970"; }

.icon-tune-v2:before {
  content: "\e9a6"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-youtube:before {
  content: "\ea9e"; }

.icon-linkedin:before {
  content: "\eac9"; }

.icon-earth:before {
  content: "\e9ca"; }

.icon-zoom-in:before {
  content: "\e987"; }

.icon-star-empty:before {
  content: "\e9d7"; }

.icon-star-half:before {
  content: "\e9d8"; }

.icon-star-full:before {
  content: "\e9d9"; }

.icon-quotes-right:before {
  content: "\e978"; }

#about.show .left-container,
#about.show .right-container, #preabout.show .left-container,
#preabout.show .right-container, #model.show .left-container,
#model.show .right-container {
  opacity: 1;
  transition: all .5s ease; }

#about .brandlist, #preabout .brandlist, #model .brandlist {
  list-style: none;
  margin: 50px auto 20px;
  width: 100%;
  padding: 0;
  text-align: center; }
  #about .brandlist li, #preabout .brandlist li, #model .brandlist li {
    display: inline-block;
    margin: 0 50px 30px 0;
    max-width: 12%;
    opacity: 0; }
    @media only screen and (max-width: 767px) {
      #about .brandlist li, #preabout .brandlist li, #model .brandlist li {
        max-width: 20%; } }
    @media only screen and (max-width: 1199px) {
      #about .brandlist li, #preabout .brandlist li, #model .brandlist li {
        max-width: 15%; } }
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      #about .brandlist li, #preabout .brandlist li, #model .brandlist li {
        max-width: 15%; } }
    #about .brandlist li img, #preabout .brandlist li img, #model .brandlist li img {
      width: 100%;
      opacity: 1; }
    #about .brandlist li:last-child, #preabout .brandlist li:last-child, #model .brandlist li:last-child {
      margin-right: 0; }

#about .btn-secondary, #preabout .btn-secondary, #model .btn-secondary {
  margin-bottom: 150px;
  width: 200px;
  height: 55px;
  position: relative;
  overflow: hidden; }
  #about .btn-secondary .open,
  #about .btn-secondary .closed, #preabout .btn-secondary .open,
  #preabout .btn-secondary .closed, #model .btn-secondary .open,
  #model .btn-secondary .closed {
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    transition: all ease .5s; }
  #about .btn-secondary.open .closed, #preabout .btn-secondary.open .closed, #model .btn-secondary.open .closed {
    opacity: 0; }
  #about .btn-secondary.open .open, #preabout .btn-secondary.open .open, #model .btn-secondary.open .open {
    opacity: 1; }
  #about .btn-secondary .open, #preabout .btn-secondary .open, #model .btn-secondary .open {
    opacity: 0; }
  #about .btn-secondary .closed, #preabout .btn-secondary .closed, #model .btn-secondary .closed {
    opacity: 1; }
  @media only screen and (max-width: 991px) {
    #about .btn-secondary, #preabout .btn-secondary, #model .btn-secondary {
      margin-bottom: 50px; } }

#about h4, #preabout h4, #model h4 {
  text-align: left;
  padding: 0;
  margin-left: -15px;
  text-transform: capitalize;
  font-size: 1em; }

#about .signature, #preabout .signature, #model .signature {
  margin: 20px 0 0 -40px; }
  #about .signature img, #preabout .signature img, #model .signature img {
    opacity: .6; }

#about, #model {
  position: relative;
  overflow: hidden; }
  #about .first-row,
  #about .second-row, #model .first-row,
  #model .second-row {
    display: flex; }
    @media only screen and (max-width: 1199px) {
      #about .first-row,
      #about .second-row, #model .first-row,
      #model .second-row {
        display: block; } }
  #about .left-container,
  #about .right-container, #model .left-container,
  #model .right-container {
    flex-wrap: wrap;
    width: 50%;
    overflow: hidden;
    opacity: 1;
    min-height: 50vh; }
    @media only screen and (max-width: 1199px) {
      #about .left-container,
      #about .right-container, #model .left-container,
      #model .right-container {
        display: block;
        width: 100%; } }
    @media only screen and (max-width: 1199px) {
      #about .left-container,
      #about .right-container, #model .left-container,
      #model .right-container {
        min-height: 40vh; } }
    #about .left-container.content-wrapper,
    #about .right-container.content-wrapper, #model .left-container.content-wrapper,
    #model .right-container.content-wrapper {
      position: relative;
      width: 50%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      display: table;
      padding: 50px; }
      #about .left-container.content-wrapper h3,
      #about .right-container.content-wrapper h3, #model .left-container.content-wrapper h3,
      #model .right-container.content-wrapper h3 {
        font-size: 1.2em;
        text-transform: capitalize;
        font-weight: normal; }
      @media only screen and (max-width: 1199px) {
        #about .left-container.content-wrapper,
        #about .right-container.content-wrapper, #model .left-container.content-wrapper,
        #model .right-container.content-wrapper {
          padding: 20px;
          width: 100%; } }
    #about .left-container .tile-image,
    #about .right-container .tile-image, #model .left-container .tile-image,
    #model .right-container .tile-image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right top;
      min-height: 50vh; }
      @media only screen and (max-width: 1199px) {
        #about .left-container .tile-image,
        #about .right-container .tile-image, #model .left-container .tile-image,
        #model .right-container .tile-image {
          min-height: 40vh; } }
      @media only screen and (max-width: 991px) {
        #about .left-container .tile-image,
        #about .right-container .tile-image, #model .left-container .tile-image,
        #model .right-container .tile-image {
          background-position: 0 -50px; } }
      @media screen and (max-width: 992px) and (orientation: landscape) {
        #about .left-container .tile-image,
        #about .right-container .tile-image, #model .left-container .tile-image,
        #model .right-container .tile-image {
          min-height: 450px; } }
      @media screen and (max-width: 1025px) and (min-width: 1023px) and (orientation: landscape) {
        #about .left-container .tile-image,
        #about .right-container .tile-image, #model .left-container .tile-image,
        #model .right-container .tile-image {
          min-height: 450px;
          background-position: right -50px; } }
    #about .left-container .content,
    #about .right-container .content, #model .left-container .content,
    #model .right-container .content {
      position: relative;
      display: table-cell;
      vertical-align: middle; }

#preabout {
  min-height: auto;
  padding-bottom: 50px; }

#aboutUs {
  background: #fafafa;
  padding: 100px 0; }
  #aboutUs * {
    text-align: center; }
  #aboutUs .employee {
    margin: 40px 0; }

@media only screen and (max-width: 991px) {
  #preabout {
    margin-bottom: 0;
    padding-bottom: 10px; }
  #about .left-container, #model .left-container {
    opacity: 1; }
  #about .right-container, #model .right-container {
    opacity: 1; }
  #about .second-row, #model .second-row {
    display: flex;
    flex-flow: row wrap; }
    #about .second-row .left-container, #model .second-row .left-container {
      order: 2; }
    #about .second-row .right-container, #model .second-row .right-container {
      order: 1; }
  #about .tile-image, #model .tile-image {
    background-position: left top !important;
    background-size: cover !important; } }

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #about .left-container,
  #about .right-container,
  #about .content-wrapper {
    width: 100% !important; }
  #about .left-container, #model .left-container {
    opacity: 1; }
  #about .right-container, #model .right-container {
    opacity: 1; }
  #about .second-row, #model .second-row {
    display: flex;
    width: 100%;
    flex-flow: row wrap; }
    #about .second-row .left-container, #model .second-row .left-container {
      order: 2; }
    #about .second-row .right-container, #model .second-row .right-container {
      order: 1; } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  #about .left-container,
  #about .right-container,
  #about .content-wrapper {
    width: 100% !important; }
  #about .left-container, #model .left-container {
    opacity: 1; }
  #about .right-container, #model .right-container {
    opacity: 1; }
  #about .second-row, #model .second-row {
    display: flex;
    width: 100%;
    flex-flow: row wrap; }
    #about .second-row .left-container, #model .second-row .left-container {
      order: 2; }
    #about .second-row .right-container, #model .second-row .right-container {
      order: 1; } }

#model {
  background: #fafafa; }
  #model * {
    opacity: 1 !important; }
  #model p[data-content="content-model-desc"] {
    margin-top: -20px; }

h1, h2, h3, h4 {
  color: #2a2a2a;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600; }

* {
  color: #2a2a2a;
  font-family: "Open Sans", sans-serif; }

h2 {
  position: relative;
  margin-bottom: 40px;
  font-weight: 300; }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    h2 {
      font-size: 1.5em; } }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 1.5em; } }
  @media screen and (min-device-width: 300px) and (max-device-width: 768px) and (orientation: landscape) {
    h2 {
      font-size: 1.5em;
      line-height: 1.6em; } }
  h2.left-aligned {
    text-align: left; }
    h2.left-aligned:after {
      left: 0;
      transform: translateX(0); }

h3 {
  margin-bottom: 20px;
  font-weight: 300; }
  @media only screen and (max-width: 767px) {
    h3 {
      font-size: 1.2em; } }

h4 {
  margin: 20px 0;
  font-weight: 600; }

p {
  font-size: 1em;
  line-height: 1.85em; }
  @media only screen and (max-width: 1199px) {
    p {
      font-size: .875em; } }

.btn-primary.btn {
  background: #A81F57;
  border: 0;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 40px;
  transition: all .3s ease; }
  .btn-primary.btn:hover, .btn-primary.btn:active {
    background: #7d1741; }

.btn-secondary.btn {
  background: none;
  border: 1px solid #2a2a2a;
  border-radius: 0;
  color: #2a2a2a;
  text-transform: uppercase;
  padding: 20px 40px;
  transition: all .3s ease; }
  @media only screen and (max-width: 991px) {
    .btn-secondary.btn {
      padding: 20px;
      font-size: 1em; } }
  @media only screen and (max-width: 767px) {
    .btn-secondary.btn {
      padding: 10px;
      font-size: .875em; } }
  .btn-secondary.btn:hover, .btn-secondary.btn:active {
    background: #111111;
    color: #fff; }

.btn-primary.btn,
.btn-secondary.btn {
  margin: 40px 0; }

.offset-bg-color {
  background: #1e212a; }

.secondary-offset-bg-color {
  background: #111111; }

.left-align {
  text-align: left; }

section.content .offset-bg-color,
section.content .secondary-offset-bg-color {
  padding: 40px; }

.tile-image {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 1199px) {
    .tile-image {
      height: 50%; } }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .tile-image {
      height: 100%; } }
  .tile-image img {
    margin: 0 auto;
    display: block;
    height: 100%; }
    @media only screen and (max-width: 991px) {
      .tile-image img {
        width: 100%;
        height: auto; } }
  .tile-image.tall {
    height: 80vh; }
    @media only screen and (max-width: 991px) {
      .tile-image.tall {
        height: 40vh; } }
    .tile-image.tall img {
      height: 100%;
      width: 100%; }
  .tile-image.narrow {
    height: 40vh; }
    @media only screen and (max-width: 1199px) {
      .tile-image.narrow {
        height: auto; } }
    .tile-image.narrow img {
      height: auto;
      vertical-align: top;
      width: 100%; }
      @media only screen and (max-width: 991px) {
        .tile-image.narrow img {
          width: auto;
          height: 100%; } }
      @media only screen and (max-width: 1199px) {
        .tile-image.narrow img {
          width: auto;
          height: 100%; } }

#nav {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 97;
  text-align: center;
  transition: all .3s ease; }
  @media only screen and (min-width: 992px) {
    #nav {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%); } }
  @media only screen and (max-width: 1199px) {
    #nav {
      height: 50px; } }
  #nav.fixed {
    height: 60px;
    position: fixed;
    z-index: 9; }
    #nav.fixed ul {
      margin-top: 20px; }
  #nav ul {
    margin: 40px auto 0;
    list-style: none;
    display: inline-block; }
    @media only screen and (max-width: 1199px) {
      #nav ul {
        position: absolute;
        width: 100%;
        left: 0;
        background: #222;
        top: -400px;
        height: 300px;
        transition: all .5s ease;
        z-index: 6; } }
    @media only screen and (max-width: 1199px) {
      #nav ul.open {
        top: -40px;
        padding-top: 50px;
        z-index: 98;
        height: 100vh; }
        #nav ul.open li.sub i {
          display: none; }
        #nav ul.open li.sub span {
          display: block;
          color: #fff; } }
    @media only screen and (max-width: 1199px) and (max-width: 1199px) {
      #nav ul.open li.sub span {
        display: none; }
        #nav ul.open li.sub span.active-loc {
          display: block; } }
    @media only screen and (max-width: 1199px) {
        #nav ul.open li.sub ul {
          top: 40px;
          width: 100vw;
          background: #333;
          padding-top: 50px;
          left: -40px; }
          #nav ul.open li.sub ul li {
            padding-left: 20px; } }
    #nav ul li {
      float: left;
      margin-right: 40px;
      position: relative;
      text-align: left; }
      #nav ul li.sub {
        padding-right: 20px;
        cursor: pointer;
        text-align: left; }
        #nav ul li.sub span {
          display: none; }
        @media only screen and (min-width: 992px) {
          #nav ul li.sub .active-loc {
            display: inline-block;
            color: #fff;
            text-transform: uppercase;
            margin-left: 5px; } }
        #nav ul li.sub:after {
          content: "\e901";
          font-family: "icomoon";
          position: absolute;
          color: #f5f5f5;
          top: 2px;
          right: 0;
          font-size: .75em; }
          @media only screen and (max-width: 1199px) {
            #nav ul li.sub:after {
              right: 20%; } }
        #nav ul li.sub ul {
          margin: 0;
          height: 0;
          opacity: 0;
          position: absolute;
          top: 10px;
          left: -20px;
          pointer-events: none;
          padding: 0 20px;
          transition: all .3s ease;
          color: #f5f5f5;
          min-width: 200px; }
        #nav ul li.sub:hover {
          height: 190px; }
          #nav ul li.sub:hover ul {
            height: 150px;
            padding: 20px;
            opacity: 1;
            pointer-events: all;
            z-index: 6; }
            #nav ul li.sub:hover ul li {
              padding-bottom: 10px; }
      @media only screen and (max-width: 1199px) {
        #nav ul li {
          width: 100%;
          float: none;
          padding: 0 20px 20px; } }
      #nav ul li:last-child {
        margin-right: 0; }
      #nav ul li a {
        color: #f5f5f5;
        text-shadow: 2px 2px 2px rgba(34, 34, 34, 0.6);
        text-transform: uppercase;
        font-size: 1em; }
        #nav ul li a:hover, #nav ul li a:active {
          color: #cccccc;
          text-decoration: none; }
        #nav ul li a i {
          font-size: 1.2em;
          line-height: 1.2em;
          color: #f5f5f5; }

.hamburger {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99; }
  @media only screen and (max-width: 1199px) {
    .hamburger {
      display: block; } }
  .hamburger .line {
    width: 30px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 5px auto;
    transition: all 0.2s ease-in-out; }
  .hamburger.is-active {
    transition: all 0.2s ease-in-out;
    transition-delay: 0.5s;
    transform: rotate(45deg); }
    .hamburger.is-active .line:nth-child(2) {
      width: 0; }
    .hamburger.is-active .line:nth-child(1),
    .hamburger.is-active .line:nth-child(3) {
      transition-delay: 0.3s; }
    .hamburger.is-active .line:nth-child(1) {
      transform: translateY(7px); }
    .hamburger.is-active .line:nth-child(3) {
      transform: translateY(-7px) rotate(90deg); }

#header {
  top: 0;
  position: relative;
  margin-top: -22px;
  background: #111;
  min-height: 200px;
  margin-bottom: 50px; }
  #header.play .background-wrapper {
    opacity: 0; }
  #header .background-wrapper,
  #header .background-video {
    height: 95vh;
    position: relative;
    overflow: hidden;
    opacity: .7; }
    #header .background-wrapper video,
    #header .background-video video {
      height: 100%;
      vertical-align: bottom; }
    @media only screen and (max-width: 1199px) {
      #header .background-wrapper .screen,
      #header .background-video .screen {
        display: none; } }
  #header .background-video {
    width: 110%; }
  #header .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; }
    #header .container h1 {
      text-transform: uppercase;
      font-size: 3em;
      opacity: 0;
      line-height: 1.5em;
      font-family: "Open Sans", sans-serif;
      font-weight: 700; }
      @media only screen and (max-width: 1199px) {
        #header .container h1 {
          font-size: 2.5em; } }
      @media only screen and (max-width: 991px) {
        #header .container h1 {
          font-size: 1.5em; } }
      @media only screen and (max-width: 767px) {
        #header .container h1 {
          margin-top: 0;
          font-size: 1.5em; } }
      @media screen and (min-width: 1100px) and (min-width: 1280px) {
        #header .container h1 {
          font-size: 2.5em; } }
      @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        #header .container h1 {
          font-size: 1.8em; } }
      @media screen and (min-device-width: 300px) and (max-device-width: 768px) and (orientation: landscape) {
        #header .container h1 {
          font-size: 1.2em; } }
      @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
        #header .container h1 {
          font-size: 2em; } }
    #header .container * {
      color: #fff;
      text-align: center; }
  #header .container.vid {
    top: 64%; }
  #header .play-video-wrapper i {
    font-size: 5em;
    color: #f5f5f5;
    margin: 40px 0;
    display: block;
    cursor: pointer;
    opacity: 0; }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      #header .play-video-wrapper i {
        margin: 20px auto;
        font-size: 4em; } }
    @media only screen and (max-width: 991px) {
      #header .play-video-wrapper i {
        font-size: 3em; } }
    @media only screen and (max-width: 767px) {
      #header .play-video-wrapper i {
        margin: 10px auto;
        font-size: 3em; } }

.close-btn {
  position: absolute;
  top: 0;
  right: -54px;
  border-radius: 0;
  cursor: pointer;
  z-index: 999;
  background: #A81F57;
  padding: 13px; }
  @media only screen and (max-width: 767px) {
    .close-btn {
      right: 0;
      top: -54px; } }
  .close-btn i {
    font-size: 2em; }

.video-container {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .6s ease; }
  .video-container .container.vid {
    width: 90% !important; }
  .video-container.play {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 99; }

.logo {
  width: 100%;
  height: 240px;
  text-align: center;
  background: none;
  opacity: 0; }
  .logo a {
    display: block;
    width: 100%;
    height: 100%; }
  .logo img {
    height: 85%;
    display: block;
    margin: 0 auto;
    padding-top: 30px; }
  @media only screen and (max-width: 1199px) {
    .logo {
      width: 150px;
      height: 175px;
      margin: 0 auto 0; }
      .logo img {
        padding-top: 10px !important; } }
  @media screen and (min-device-width: 300px) and (max-device-width: 768px) and (orientation: landscape) {
    .logo {
      height: 120px;
      width: 80px; } }

body.isPlaying .background-video,
body.isPlaying .enterprise-intro-header-text {
  opacity: 0.2; }

body.projects #header {
  margin-bottom: 0; }
  body.projects #header .background-type.solid {
    background: #000;
    height: 700px; }
    @media only screen and (max-width: 991px) {
      body.projects #header .background-type.solid .container {
        top: 42%; } }
    body.projects #header .background-type.solid h1 {
      opacity: 1;
      font-size: 2em; }
    body.projects #header .background-type.solid .background-wrapper {
      background: url("../../images/tile-bg-dark.jpg") top left no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      max-height: 100%; }

body.projects #header .logo {
  display: block;
  opacity: 1 !important; }
  @media only screen and (max-width: 1199px) {
    body.projects #header .logo {
      width: 125px;
      height: 150px;
      margin: 0 auto 0; } }
  @media only screen and (min-device-width: 300px) and (max-device-width: 850px) and (orientation: landscape) {
    body.projects #header .logo {
      width: 100px;
      height: 125px;
      margin: 0 auto 0; } }

body, html {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.centered {
  text-align: center;
  max-width: 600px;
  margin: 0 auto; }

.text-centered {
  text-align: center; }

section {
  min-height: 500px; }

@media only screen and (min-width: 992px) {
  .equal-height > div {
    height: 450px;
    margin-bottom: 20px; } }

.no-gutter .row div[class^="col-"],
.no-gutter .row div[class*=" col-"] {
  margin: 0;
  padding: 0; }

section#image-scroll {
  height: 200vh;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden; }
  section#image-scroll .image-scroll-wrapper {
    height: 200vh;
    width: 100%;
    position: absolute;
    overflow: hidden; }
    section#image-scroll .image-scroll-wrapper .background-image,
    section#image-scroll .image-scroll-wrapper .foreground-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left top;
      background-color: #fff;
      width: 100%;
      height: 100vh;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0; }
    section#image-scroll .image-scroll-wrapper .background-image {
      bottom: auto;
      top: 0; }
    section#image-scroll .image-scroll-wrapper .foreground-image {
      z-index: 3; }
    section#image-scroll .image-scroll-wrapper.fixed .background-image {
      position: fixed;
      top: 0;
      left: 0; }

#footer {
  height: auto;
  min-height: 400px;
  background: #fff;
  z-index: 6;
  position: relative;
  overflow: hidden;
  background: #ededed;
  padding-top: 600px; }
  #footer #map-canvas,
  #footer #contact-info,
  #footer #footer-bottom-liner {
    width: 100vw;
    height: 400px;
    margin: 0 auto; }
    @media only screen and (max-width: 991px) {
      #footer #map-canvas,
      #footer #contact-info,
      #footer #footer-bottom-liner {
        width: 100%; } }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      #footer #map-canvas,
      #footer #contact-info,
      #footer #footer-bottom-liner {
        width: 80vw; } }
  #footer #map-canvas {
    height: 600px;
    margin-top: -300px;
    width: 100vw;
    z-index: 0; }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      #footer #map-canvas {
        width: 100vw; } }
    @media only screen and (max-width: 767px) {
      #footer #map-canvas {
        margin-top: 200px; } }
  #footer #contact-info {
    height: auto;
    margin: 40px auto;
    width: 80vw; }
    #footer #contact-info strong {
      color: #2a2a2a; }
    #footer #contact-info a {
      color: #2a2a2a;
      margin-top: 10px;
      display: block; }
    #footer #contact-info h3,
    #footer #contact-info * {
      text-align: left; }
      @media only screen and (min-width: 1200px) {
        #footer #contact-info h3,
        #footer #contact-info * {
          font-size: 1em; } }
      @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
        #footer #contact-info h3,
        #footer #contact-info * {
          font-size: 1em; } }
    @media screen and (min-device-width: 1600px) {
      #footer #contact-info h3 {
        font-size: 1.5em; } }
    #footer #contact-info .row > div {
      padding: 20px; }
      @media only screen and (max-width: 767px) {
        #footer #contact-info .row > div {
          padding: 0; } }
      @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        #footer #contact-info .row > div {
          width: 50% !important; } }
    #footer #contact-info .contact-heading h3 {
      padding: 0 0 0 20px;
      word-spacing: 100vw;
      line-height: 1.5em;
      margin-top: 0; }
      @media only screen and (max-width: 767px) {
        #footer #contact-info .contact-heading h3 {
          margin-top: 20px;
          padding: 0;
          word-spacing: normal; } }
      @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        #footer #contact-info .contact-heading h3 {
          padding: 0;
          word-spacing: normal; } }
    #footer #contact-info .contact-content {
      border-right: 1px solid #d9d9d9;
      min-height: 275px;
      line-height: 1.6em; }
      @media only screen and (max-width: 767px) {
        #footer #contact-info .contact-content {
          min-height: 175px; } }
      @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        #footer #contact-info .contact-content {
          border: 0; } }
      @media only screen and (max-width: 991px) {
        #footer #contact-info .contact-content {
          border: 0; } }
  #footer #footer-bottom-liner {
    color: black;
    font-size: .85em;
    text-align: center;
    height: auto;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      #footer #footer-bottom-liner {
        font-size: .75em; } }
    #footer #footer-bottom-liner p {
      text-align: center; }

.slick-prev,
.slick-next {
  background: none;
  border-radius: 9999px;
  border: 0;
  font-size: 1px;
  outline: none;
  color: transparent;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 45%;
  left: 20px;
  z-index: 8; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "icomoon";
    content: "\e905";
    font-weight: bold;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 35em;
    position: absolute;
    top: 2px;
    left: 2px;
    text-shadow: 0 0 5px #333; }

.slick-next {
  left: auto;
  right: 20px; }
  .slick-next:before {
    content: "\e906"; }

.slick-track img {
  cursor: pointer; }

#google-reviews .slick-prev:before,
#google-reviews .slick-next:before {
  color: #000;
  text-shadow: none; }

#google-reviews .slick-prev {
  left: 0; }
  @media only screen and (max-width: 991px) {
    #google-reviews .slick-prev {
      left: -20px; } }

#google-reviews .slick-next {
  right: 0; }
  @media only screen and (max-width: 991px) {
    #google-reviews .slick-next {
      right: -20px; } }

#method {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100px;
  min-height: 90vh;
  background: url(../../images/tile-bg.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 50px; }
  @media only screen and (min-width: 992px) {
    #method .method-desc-wrapper {
      width: 250px;
      height: 350px;
      position: absolute;
      top: 25%;
      left: 50%;
      margin-left: -125px;
      text-align: center; }
      #method .method-desc-wrapper .method-desc {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        vertical-align: middle;
        width: 250px;
        left: 50%;
        margin-left: -125px;
        opacity: 0; }
        #method .method-desc-wrapper .method-desc h3 {
          width: 100%;
          text-align: center; }
        #method .method-desc-wrapper .method-desc.active {
          opacity: 1; } }
  @media only screen and (max-width: 991px) {
    #method .method-desc-wrapper {
      width: 100%;
      position: relative;
      overflow: hidden;
      right: auto;
      top: 40px; }
      #method .method-desc-wrapper .method-desc {
        margin: 0 auto 50px;
        position: relative;
        clear: both;
        left: auto;
        width: 300px;
        transform: none;
        background: rgba(204, 204, 204, 0.5);
        padding: 20px; }
        #method .method-desc-wrapper .method-desc i {
          display: block;
          margin: 5px auto 0;
          text-align: center;
          font-size: 2em; }
        #method .method-desc-wrapper .method-desc p {
          text-align: center; }
        #method .method-desc-wrapper .method-desc h3 {
          text-align: center;
          line-height: 1.5em; }
        #method .method-desc-wrapper .method-desc:after {
          content: '';
          width: 0;
          height: 0;
          border-left: 150px solid transparent;
          border-right: 150px solid transparent;
          border-top: 30px solid rgba(204, 204, 204, 0.5);
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
          right: auto;
          margin: 0 auto;
          z-index: 0; }
        #method .method-desc-wrapper .method-desc.eval:after {
          display: none; } }
  @media only screen and (max-width: 991px) {
    #method #diagram {
      display: none; } }
  @media only screen and (min-width: 992px) {
    #method #diagram {
      height: 790px;
      width: 790px;
      background: url(../../images/diagram/diagram.png) no-repeat;
      background-size: cover;
      margin: 0 auto;
      position: relative;
      transition: all .5s ease;
      -webkit-backface-visibility: hidden;
      transform: translate3d(0, 0, 0); }
      #method #diagram.intro {
        background-image: url(../../images/diagram/diagram-1.png);
        transition: all .5s ease; }
      #method #diagram.design {
        background-image: url(../../images/diagram/diagram-2.png);
        transition: all .5s ease; }
      #method #diagram.tuning {
        background-image: url(../../images/diagram/diagram-3.png);
        transition: all .5s ease; }
      #method #diagram.construction {
        background-image: url(../../images/diagram/diagram-4.png);
        transition: all .5s ease; }
      #method #diagram.eval {
        background-image: url(../../images/diagram/diagram-5.png);
        transition: all .5s ease; }
      #method #diagram .diagram-logo {
        background: url(../../images/loading-logo.png) no-repeat;
        background-size: contain;
        width: 180px;
        height: 180px;
        position: absolute;
        top: 300px;
        left: 315px; } }
  #method #diagram .method-item-wrapper {
    position: absolute;
    height: 250px;
    width: 250px; }
    @media only screen and (max-width: 991px) {
      #method #diagram .method-item-wrapper {
        display: none; } }
    @media only screen and (min-width: 992px) {
      #method #diagram .method-item-wrapper:nth-child(1) {
        top: -20px;
        left: 50%;
        margin-left: -125px; } }
    @media only screen and (min-width: 992px) {
      #method #diagram .method-item-wrapper:nth-child(2) {
        top: 170px;
        right: 0; } }
    @media only screen and (min-width: 992px) {
      #method #diagram .method-item-wrapper:nth-child(3) {
        top: 470px;
        right: 120px; } }
    @media only screen and (min-width: 992px) {
      #method #diagram .method-item-wrapper:nth-child(4) {
        top: 470px;
        left: 25%;
        margin-left: -83.33333px; } }
    @media only screen and (min-width: 992px) {
      #method #diagram .method-item-wrapper:nth-child(5) {
        top: 170px;
        left: 0; } }
  #method #diagram .method-item {
    height: 250px;
    width: 250px;
    border: 0;
    color: #fff;
    font-size: .875em;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    text-align: center;
    padding: 83.33333px;
    opacity: 1;
    top: 0;
    left: 0;
    transition: all .3s ease;
    cursor: pointer;
    pointer-events: all; }
    @media only screen and (min-width: 992px) {
      #method #diagram .method-item.construction {
        width: 265px; } }
    @media only screen and (max-width: 991px) {
      #method #diagram .method-item .step-content {
        display: none; } }
    #method #diagram .method-item .step-content > span.count {
      text-align: center;
      width: 100%;
      color: #fff;
      font-size: 2em; }
    #method #diagram .method-item .step-content span, #method #diagram .method-item .step-content i {
      display: block;
      color: #fff; }
    #method #diagram .method-item .step-content > span {
      display: inline-block;
      margin-top: 10px; }
    #method #diagram .method-item .step-content i {
      font-size: 2em;
      color: #fff; }

body.loading .content-wrapper {
  opacity: 0;
  overflow: hidden;
  height: 100vh; }

body.loading .loading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -125px;
  margin-left: -125px; }
  body.loading .loading-logo img {
    width: 250px;
    height: 250px; }

body:not(.loading) .loading-logo {
  display: none; }

body:not(.loading) .content-wrapper {
  opacity: 1; }

#case-studies {
  background: #fff;
  position: relative;
  opacity: 1;
  transition: opacity ease 1s; }
  #case-studies .content-projects-quote {
    text-align: center;
    width: 100%;
    font-style: italic;
    margin: 20px auto 50px; }
    #case-studies .content-projects-quote i {
      content: "e978";
      font-family: "icomoon";
      position: absolute;
      top: -40px;
      left: -80px;
      font-size: 3em;
      color: #4f4f4f; }
  #case-studies .project-intro-wrapper {
    max-width: 1000px;
    margin: 50px auto 0;
    float: none;
    text-align: center; }
  @media only screen and (max-width: 1199px) {
    #case-studies {
      opacity: 1; } }
  #case-studies.show {
    opacity: 1; }
  #case-studies .btn-wrapper {
    text-align: center; }
    #case-studies .btn-wrapper .btn {
      margin: 60px auto 50px; }
  #case-studies .tile-image {
    position: relative;
    background: #000; }
    #case-studies .tile-image img {
      width: 100%;
      height: auto; }
    @media screen and (min-device-width: 300px) and (max-device-width: 768px) and (orientation: landscape) {
      #case-studies .tile-image img {
        width: 100%;
        height: auto; } }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      #case-studies .tile-image img {
        width: 100%;
        height: auto; } }
    #case-studies .tile-image .btn-secondary {
      border-color: #fff;
      color: #fff; }
    #case-studies .tile-image * {
      transition: all ease .5s; }
    #case-studies .tile-image:hover img {
      transform: scale(1.1);
      opacity: .2; }
    #case-studies .tile-image:hover .desc {
      opacity: 1; }
    #case-studies .tile-image .desc {
      opacity: 0;
      pointer-events: none;
      width: 400px;
      height: 300px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      padding: 50px; }
      #case-studies .tile-image .desc h2, #case-studies .tile-image .desc p {
        color: #f5f5f5; }

#comparison-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 50px; }
  #comparison-wrapper p {
    text-align: center;
    margin-bottom: 50px; }
  #comparison-wrapper h2.comparison-header {
    padding: 50px 0; }
    #comparison-wrapper h2.comparison-header.show #comparison {
      right: 0;
      transition: .8s right ease .6s; }
  #comparison-wrapper #comparison {
    width: 1200px;
    height: 675px;
    margin: 0 auto;
    background: #fafafa; }
    @media screen and (min-width: 1800px) {
      #comparison-wrapper #comparison {
        width: 1600px;
        height: 900px; } }
    @media screen and (min-width: 2200px) {
      #comparison-wrapper #comparison {
        width: 1750px;
        height: 984px; } }
    @media only screen and (max-width: 1199px) {
      #comparison-wrapper #comparison {
        width: 800px;
        height: 450px; } }
    @media only screen and (max-width: 991px) {
      #comparison-wrapper #comparison {
        width: 320px;
        height: 179px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (min-width: 550px) and (max-width: 1000px) {
      #comparison-wrapper #comparison {
        width: 560px;
        height: 315px; } }
    #comparison-wrapper #comparison .item {
      position: relative; }
      #comparison-wrapper #comparison .item img {
        width: 100%;
        height: auto; }
      #comparison-wrapper #comparison .item .after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background-size: cover; }
    #comparison-wrapper #comparison .slick-prev {
      left: -60px; }
      @media only screen and (max-width: 991px) {
        #comparison-wrapper #comparison .slick-prev {
          left: -20px; } }
    #comparison-wrapper #comparison .slick-next {
      right: -60px; }
      #comparison-wrapper #comparison .slick-next:before {
        color: #000; }
      @media only screen and (max-width: 991px) {
        #comparison-wrapper #comparison .slick-next {
          right: -20px; } }

.icon-arrow-left,
.icon-arrow-right {
  font-size: 3em;
  color: #000;
  position: absolute;
  top: 57%;
  left: 40px;
  z-index: 9;
  cursor: pointer; }
  @media only screen and (max-width: 1199px) {
    .icon-arrow-left,
    .icon-arrow-right {
      top: 62%;
      color: #ccc;
      left: -5px;
      font-size: 2em; } }

.icon-arrow-right {
  color: #000;
  left: auto;
  right: 40px; }
  @media only screen and (max-width: 991px) {
    .icon-arrow-right {
      right: -5px; } }

body.open {
  overflow: hidden;
  height: 100%;
  position: fixed; }
  body.open #nav {
    display: none; }

.projects-wrapper .slick-slider {
  height: 100%; }

.projects-wrapper .project,
.projects-wrapper .project-wrapper {
  height: 650px; }
  @media only screen and (max-width: 1199px) {
    .projects-wrapper .project,
    .projects-wrapper .project-wrapper {
      height: 250px; } }
  @media only screen and (min-device-width: 300px) and (max-device-width: 1025px) and (orientation: landscape) {
    .projects-wrapper .project,
    .projects-wrapper .project-wrapper {
      height: 340px; } }
  @media only screen and (max-width: 991px) {
    .projects-wrapper .project,
    .projects-wrapper .project-wrapper {
      display: block !important;
      height: auto !important; } }
  @media screen and (min-width: 1000px) and (max-width: 1600px) {
    .projects-wrapper .project,
    .projects-wrapper .project-wrapper {
      height: 450px; } }
  @media screen and (min-width: 1600px) and (max-width: 2000px) {
    .projects-wrapper .project,
    .projects-wrapper .project-wrapper {
      height: 625px; } }
  @media only screen and (min-device-width: 300px) and (max-device-width: 850px) and (orientation: landscape) {
    .projects-wrapper .project,
    .projects-wrapper .project-wrapper {
      display: block !important;
      height: auto !important; } }

.projects-wrapper .project {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all ease .5s;
  transform-origin: 20% 40%; }
  .projects-wrapper .project .project-wrapper,
  .projects-wrapper .project .project-review {
    width: 100%;
    clear: both; }
  .projects-wrapper .project:nth-child(odd) .project-wrapper {
    display: flex; }
    .projects-wrapper .project:nth-child(odd) .project-wrapper .project-images {
      order: 1; }
    .projects-wrapper .project:nth-child(odd) .project-wrapper .project-desc-wrapper {
      order: 2; }
  .projects-wrapper .project:nth-child(even) .project-wrapper {
    display: flex; }
    .projects-wrapper .project:nth-child(even) .project-wrapper .project-images {
      order: 2; }
    .projects-wrapper .project:nth-child(even) .project-wrapper .project-desc-wrapper {
      order: 1; }
  .projects-wrapper .project.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background: #fff; }
    @media only screen and (min-device-width: 300px) and (max-device-width: 1025px) and (orientation: landscape) {
      .projects-wrapper .project.open {
        height: 100vh; } }
    .projects-wrapper .project.open .project-review {
      display: none; }
    .projects-wrapper .project.open .project-close {
      position: absolute;
      right: 50px;
      top: 50px;
      cursor: pointer; }
      .projects-wrapper .project.open .project-close:before {
        content: "\e904";
        position: absolute;
        font-family: "icomoon";
        font-size: 2em;
        color: #fff;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
        z-index: 999999; }
        @media screen and (max-device-width: 767px) and (orientation: portrait) {
          .projects-wrapper .project.open .project-close:before {
            color: #222;
            text-shadow: none; } }
    .projects-wrapper .project.open .project-images {
      width: 100vw;
      height: 100vh; }
    .projects-wrapper .project.open .project-desc-wrapper {
      display: none; }
    .projects-wrapper .project.open .slider {
      height: 100vh;
      width: 100vw;
      margin: 0; }
      .projects-wrapper .project.open .slider .project-image {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh; }
        @media screen and (max-device-width: 767px) and (orientation: portrait) {
          .projects-wrapper .project.open .slider .project-image {
            background-size: contain;
            background-position: center; } }
  .projects-wrapper .project:not(.open).show-review {
    height: 800px; }
    @media only screen and (max-width: 1199px) {
      .projects-wrapper .project:not(.open).show-review {
        height: auto; } }
    @media screen and (min-width: 1580px) {
      .projects-wrapper .project:not(.open).show-review {
        height: 1000px; } }
  .projects-wrapper .project:not(.open) .project-review {
    height: 0;
    width: 100%;
    padding: 0;
    clear: both;
    position: relative; }
    .projects-wrapper .project:not(.open) .project-review .review-text {
      text-align: center;
      max-width: 45em;
      margin-top: 10px; }
      @media only screen and (max-width: 991px) {
        .projects-wrapper .project:not(.open) .project-review .review-text {
          margin: 5px 0 0 0; } }
      @media screen and (min-width: 1580px) {
        .projects-wrapper .project:not(.open) .project-review .review-text {
          max-width: 65em; } }
    @media only screen and (max-width: 991px) {
      .projects-wrapper .project:not(.open) .project-review .review * {
        text-align: left !important; } }
    .projects-wrapper .project:not(.open) .project-review .review {
      opacity: 0; }
    .projects-wrapper .project:not(.open) .project-review.show {
      height: 100%;
      background: #fdfdfd;
      padding: 50px 0; }
      @media only screen and (max-width: 991px) {
        .projects-wrapper .project:not(.open) .project-review.show {
          padding: 20px 0 50px 0; } }
      .projects-wrapper .project:not(.open) .project-review.show .review {
        opacity: 1; }
      .projects-wrapper .project:not(.open) .project-review.show .review-close {
        position: absolute;
        right: 50px;
        top: 20px;
        cursor: pointer;
        z-index: 999; }
        .projects-wrapper .project:not(.open) .project-review.show .review-close:before {
          content: "\e904";
          position: absolute;
          font-family: "icomoon";
          font-size: 2em;
          color: #000; }
  .projects-wrapper .project:not(.open) .read-review {
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    color: #000; }
  .projects-wrapper .project:not(.open) .project-images,
  .projects-wrapper .project:not(.open) .project-desc-wrapper {
    width: 50%;
    float: left;
    position: relative;
    overflow: hidden; }
    @media only screen and (max-width: 991px) {
      .projects-wrapper .project:not(.open) .project-images,
      .projects-wrapper .project:not(.open) .project-desc-wrapper {
        width: 100% !important; } }
  .projects-wrapper .project:not(.open) .project-images {
    width: 50%;
    height: 100%; }
    @media only screen and (max-width: 991px) {
      .projects-wrapper .project:not(.open) .project-images {
        width: 100%;
        height: 320px; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 850px) and (orientation: landscape) {
      .projects-wrapper .project:not(.open) .project-images {
        height: 320px; } }
    .projects-wrapper .project:not(.open) .project-images .slider {
      height: 100%;
      width: 100%;
      margin: 0; }
      .projects-wrapper .project:not(.open) .project-images .slider .project-image {
        background-size: cover;
        display: none;
        height: 100%;
        width: 100%; }
        .projects-wrapper .project:not(.open) .project-images .slider .project-image:first-child {
          display: block;
          cursor: pointer; }
  .projects-wrapper .project:not(.open) .project-desc-wrapper {
    padding: 7% 100px;
    text-align: left; }
    @media only screen and (max-width: 1199px) {
      .projects-wrapper .project:not(.open) .project-desc-wrapper {
        padding-top: 3%; } }
    @media only screen and (max-width: 991px) {
      .projects-wrapper .project:not(.open) .project-desc-wrapper {
        background: #fff;
        position: relative;
        clear: both;
        width: 100%;
        padding: 20px; } }
    @media only screen and (min-device-width: 300px) and (max-device-width: 850px) and (orientation: landscape) {
      .projects-wrapper .project:not(.open) .project-desc-wrapper {
        background: #fff;
        position: relative;
        clear: both;
        width: 100%;
        padding: 20px; } }
    .projects-wrapper .project:not(.open) .project-desc-wrapper h2 {
      text-align: left;
      cursor: pointer;
      font-weight: 700;
      margin-bottom: 10px; }
    .projects-wrapper .project:not(.open) .project-desc-wrapper .project-desc {
      max-width: 800px;
      font-size: 1em;
      line-height: 1.85em; }
      @media only screen and (max-width: 1199px) {
        .projects-wrapper .project:not(.open) .project-desc-wrapper .project-desc {
          padding-bottom: 20px; } }
      @media only screen and (min-device-width: 300px) and (max-device-width: 1025px) and (orientation: landscape) {
        .projects-wrapper .project:not(.open) .project-desc-wrapper .project-desc {
          display: block;
          font-size: .875em; } }
  .projects-wrapper .project:not(.open) .project-sub-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.1em; }
  .projects-wrapper .project:not(.open) .slider-for img {
    display: none; }
  .projects-wrapper .project:not(.open) .slider-for img:first-child {
    display: block;
    width: 100%;
    cursor: pointer; }
  .projects-wrapper .project:not(.open) .slider-nav {
    display: none; }

.review {
  padding: 0 75px; }
  @media only screen and (max-width: 767px) {
    .review {
      padding: 0 25px; } }
  .review .review-author,
  .review .review-date,
  .review .review-stars,
  .review .review-text {
    width: 100%;
    text-align: center; }
  .review .review-stars {
    margin: 10px 0; }
    .review .review-stars i {
      color: #eb6e00; }

#google-reviews-wrapper {
  width: 65vw;
  margin: 0 auto;
  background: #fff;
  padding: 60px;
  z-index: 4;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  min-height: 500px; }
  @media only screen and (max-width: 767px) {
    #google-reviews-wrapper {
      width: 90vw;
      padding: 20px;
      min-height: 300px; }
      #google-reviews-wrapper .slick-prev {
        left: -50px; }
      #google-reviews-wrapper .slick-next {
        right: -40px; } }
  #google-reviews-wrapper h3 {
    width: 100%;
    text-align: center;
    font-weight: 300; }
  #google-reviews-wrapper .review-item {
    border: 0;
    float: left;
    flex: 1 1 60%; }
    @media only screen and (max-width: 991px) {
      #google-reviews-wrapper .review-item {
        flex: 1 1 100%; } }
    #google-reviews-wrapper .review-item p {
      font-size: 1em; }
  #google-reviews-wrapper .review-text {
    max-width: 100%; }

#values {
  height: 900px;
  overflow: hidden;
  background: #efefef; }
  @media screen and (min-width: 1600px) {
    #values {
      height: 1200px; } }
  #values h2 {
    margin-top: 75px; }
  #values p {
    text-align: center;
    width: 500px;
    margin: 0 auto; }
  #values .left-container,
  #values .content-container {
    float: left; }
  #values .left-container {
    width: 35%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center; }
    @media only screen and (max-width: 991px) {
      #values .left-container {
        display: none; } }
  #values .content-container {
    width: 65%;
    background: #efefef;
    position: relative;
    overflow: hidden; }
    @media only screen and (max-width: 991px) {
      #values .content-container {
        width: 100%; } }
    @media screen and (max-width: 1600px) {
      #values .content-container {
        padding: 70px 0; } }
    @media screen and (min-device-width: 300px) and (max-device-width: 768px) and (orientation: landscape) {
      #values .content-container {
        padding: 50px 0; } }
    #values .content-container .container {
      width: 80%;
      margin: 6% auto 0; }
      @media only screen and (max-width: 991px) {
        #values .content-container .container {
          width: 100%; } }
    #values .content-container .row > div {
      border-bottom: 1px solid #ccc;
      padding: 100px 0;
      text-align: center; }
      @media screen and (max-width: 1600px) {
        #values .content-container .row > div {
          padding: 60px 0; } }
      #values .content-container .row > div strong {
        opacity: 0; }
      #values .content-container .row > div:first-child {
        border-right: 1px solid #ccc; }
    #values .content-container .row:last-child > div {
      border-bottom: 0; }
