@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j3hxqn');
  src:  url('fonts/icomoon.eot?j3hxqn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j3hxqn') format('truetype'),
    url('fonts/icomoon.woff?j3hxqn') format('woff'),
    url('fonts/icomoon.svg?j3hxqn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-design:before {
  content: "\e900";
}
.icon-chevron:before {
  content: "\e901";
}
.icon-tune:before {
  content: "\e902";
}
.icon-intro:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-construction:before {
  content: "\e907";
}
.icon-play:before {
  content: "\e908";
}
.icon-eval:before {
  content: "\e909";
}
.icon-design-v2:before {
  content: "\e90a";
}
.icon-design-v3:before {
  content: "\e90c";
}
.icon-intro-v2:before {
  content: "\e970";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-tune-v2:before {
  content: "\e9a6";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-youtube:before {
  content: "\ea9e";
}
.icon-linkedin:before {
  content: "\eac9";
}
